@import "./variables";

@mixin button{
    background:$background;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: $shadow;
    border: none;
    outline: none;
    &:active{
        background: $backgroundActive;
        box-shadow: none;
    }
}