$width: 40rem;
$dark_secondary: #2e2f34;
$light_secondary: #dad8d8;

$dark_lighter: #53555f;
$light_lighter: #a19e9e;

$background: hsl(204, 63%, 43%);
$backgroundActive: hsl(204, 63%, 19%);

$shadow: 1px 3px 3px 1px rgba(66, 66, 66, 0.5);