@import "./variables";
@import "./mixins";
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3rem auto;
    position: relative;
    padding: 0 3rem;
}

.logo {
    letter-spacing: 1rem;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.switch {

    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    padding: 0.5rem;
    @include button;
    svg{

    }
}